header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    margin-left: 30px;
    margin-top: 10px;
    width: 140px;
    height: 100%;
}

/* api-status */
#api_status {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #CCCCCC;
    margin-right: 30px;
}

.available {
    background-color: #ff545f;
}